<!DOCTYPE html>
<html lang="zxx">
<base href="~/">
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description" content="Kleon Admin Template">
    <meta name="author" content="">

    <!-- Favicon and touch Icons -->
    <link href="assets/img/favicon.png" rel="shortcut icon" type="image/png">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="assets/img/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="assets/img/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="assets/img/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">

    
    <!-- jQuery -->
    <script src="assets/js/jquery-3.6.0.min.js"></script>

    <!-- Core JS -->
    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>


    <!-- jQuery UI Kit -->
    <script src="plugins/jquery_ui/jquery-ui.1.12.1.min.js"></script>


    <!-- Peity  -->
    <script src="plugins/peity/jquery.peity.min.js"></script>
    <script src="plugins/peity/piety-init.js"></script>

    <!-- Select 2 -->
    <script src="plugins/select2/js/select2.min.js"></script>
    
    <!-- Snippets JS -->
    <script src="assets/js/snippets.js"></script>

    <!-- Theme Custom JS -->
    <script src="assets/js/theme.js"></script>

    <!-- Page Title -->
    <title>Kleon Admin Template</title>

    <!-- Styles Include -->
    <link rel="stylesheet" href="assets/css/main.css" id="stylesheet">

  

</head>


<body class="bg-light">








    <!-- Preloader -->

    <!--


    <div id="preloader">
            <div class="preloader-inner">
                <div class="spinner"></div>
                <div class="logo"><img src="assets/img/logo-icon.svg" alt="img"></div>
            </div>
        </div>

    -->
    

    <!-- Default Nav -->
    <header class="header kleon-default-nav">
        <div class="d-none d-xl-block">
            <div class="header-inner d-flex align-items-center justify-content-end flex-wrap flex-xl-nowrap gap-3 gap-xl-5">
         

                <div class="header-right-part d-flex align-items-center flex-shrink-0">
                    <ul class="nav-elements d-flex align-items-center list-unstyled m-0 p-0">
                        
                        <li class="nav-item nav-search">
                            <a asp-controller="auth" asp-action="logout" class="btn  bg-primary text-white">
                                <i class="bi bi-box-arrow-right"></i> Log out
                            </a>
                        </li>
                        
                        <li class="nav-item nav-color-switch d-flex align-items-center gap-3">
                            <div class="sun"><img src="assets/img/sun.svg" alt="img"></div>
                            <div class="switch">
                                <input type="checkbox" id="colorSwitch" value="false" name="defaultMode">
                                <div class="shutter">
                                    <span class="lbl-off"></span>
                                    <span class="lbl-on"></span>
                                    <div class="slider bg-primary"></div>
                                </div>
                            </div>
                            <div class="moon"><img src="assets/img/moon.svg" alt="img"></div>
                        </li>

                      
                        <li class="nav-item nav-settings">
                            <a href="#" class="nav-toggler">
                                <img src="assets/img/svg/settings.svg" alt="img">
                            </a>
                        </li>

                        <li class="nav-item nav-author">
                            <a href="#" class="nav-toggler" data-bs-toggle="dropdown" aria-expanded="false">
                                
                                <!--<img src="assets/img/nav_author.jpg" alt="img" width="54" class="rounded-2">
                                 -->

                                <span class="avatar bg-blue text-white">
                                    <span class="avatar-initials">@User.Claims.GetByName("FirstName").First()@User.Claims.GetByName("LastName").First()</span>
                                </span>
                                <div class="nav-toggler-content">
                                    <h6 class="mb-0">@User.Claims.GetByName("FirstName") @User.Claims.GetByName("LastName")</h6>
                                    <div class="ff-heading fs-14 fw-normal text-gray">@User.Claims.GetByName("position")</div>
                                </div>
                            </a>
                            <div class="dropdown-widget dropdown-menu p-0 admin-card">
                                <div class="dropdown-wrapper">
                                    <div class="card mb-0">
                                        <div class="card-header p-3 text-center">
                                            <span class="avatar bg-blue text-white">
                                                <span class="avatar-initials">@User.Claims.GetByName("FirstName").First()@User.Claims.GetByName("LastName").First()</span>
                                            </span>
                                            <div class="nav-toggler-content">
                                                <h6 class="mb-0">@User.Claims.GetByName("FirstName") @User.Claims.GetByName("LastName")</h6>
                                                <div class="ff-heading fs-14 fw-normal text-gray">@User.Claims.GetByName("position")</div>
                                            </div>
                                        </div>
                                        <div class="card-body p-3">
                                            <ul class="list-unstyled p-0 m-0">
                                                <li>
                                                    <a href="profile.html" class="fs-14 fw-normal text-dark d-block p-1"><i class="bi bi-person me-2"></i> Profile</a>
                                                </li>
                                                <li>
                                                    <a href="email.html" class="fs-14 fw-normal text-dark d-block p-1"><i class="bi bi-envelope me-2 "></i> Inbox</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="fs-14 fw-normal text-dark d-block p-1"><i class="bi bi-gear me-2"></i> Setting & Privacy</a>
                                                </li>

                                                <li class="nav-item nav-search">
                                                    <a asp-controller="auth" asp-action="logout" class="btn  bg-primary text-white">
                                                        <i class="bi bi-box-arrow-right"></i> Log out
                                                    </a>
                                                </li>
                                            </ul>

                                        </div>
                                        <div class="card-footer p-3">
                                            <a href="login.html" class="btn btn-outline-gray bg-transparent w-100 py-1 rounded-1 text-dark fs-14 fw-medium"><i class="bi bi-box-arrow-right"></i> Logout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="small-header d-flex align-items-center justify-content-between d-xl-none">
            <div class="logo">
                <a href="index.html" class="d-flex align-items-center gap-3 flex-shrink-0">
                    <img src="assets/img/favicon.png" class="w-50" alt="logo">
                    <div class="position-relative flex-shrink-0">
                        
                    </div>
                </a>
            </div>
            <div>
                
                <button type="button" class="kleon-header-expand-toggle"><span class="fs-24"><i class="bi bi-three-dots-vertical"></i></button>
                <button type="button" class="kleon-mobile-menu-opener"><span class="close"><i class="bi bi-arrow-left"></i></span> <span class="open"><i class="bi bi-list"></i></span></button>
            </div>
        </div>

        <div class="header-mobile-option">
            <div class="header-inner">
                <div class="d-flex align-items-center justify-content-end flex-shrink-0">
                    <ul class="nav-elements d-flex align-items-center list-unstyled m-0 p-0">
                        
                      
                        
                        
                        <li class="nav-item nav-search">
                            <a asp-controller="auth" asp-action="logout" bg-primary text-white">
                                <i class="bi bi-box-arrow-right"></i> Log out
                            </a>
                        </li>
                        <li class="nav-item nav-notification dropdown">
                           
                            <div class="dropdown-widget dropdown-menu p-0">
                                <div class="dropdown-wrapper pd-50">
      
                                    <div class="dropdown-wrapper--title">
                                        <h4 class="d-flex align-items-center justify-content-between">Notifications <a href="#">View All</a></h4>
                                    </div>
                                    <ul class="notification-board list-unstyled">
                                        <li class="author-online has-new-message d-flex gap-3">
                                            <div class="media bg-primary text-white">
                                                <i class="bi bi-lightning"></i>
                                            </div>
                                            <div class="user-message">
                                                <h6 class="message"><a href="#">Jackie Kun</a> mentioned you at <a href="#">Kleon Projects</a></h6>
                                                <p class="message-footer d-flex align-items-center justify-content-between"> <span class="fs-14 text-gray fw-normal">2m ago</span> <span>Mark as read</span></p>
                                            </div>
                                        </li>
                                        <li class="author-online has-new-message d-flex gap-3">
                                            <div class="media bg-secondary text-white">
                                                <i class="bi bi-lightning"></i>
                                            </div>
                                            <div class="user-message">
                                                <h6 class="message"><a href="#">Olivia Johanna</a> has created new task at <a href="#">Kleon Projects</a></h6>
                                                <p class="message-footer d-flex align-items-center justify-content-between"> <span class="fs-14 text-gray fw-normal">2m ago</span> <span>Mark as read</span></p>
                                            </div>
                                        </li>
                                        <li class="author-online has-new-message d-flex gap-3">
                                            <div class="media media-outline-red text-red">
                                                <i class="bi bi-clock-fill"></i>
                                            </div>
                                            <div class="user-message">
                                                <h6 class="message">[REMINDER] Due date of <a href="#">Highspeed Studios Projects</a> te task will be coming</h6>
                                                <p class="message-footer d-flex align-items-center justify-content-between"> <span class="fs-14 text-gray fw-normal">2m ago</span> <span>Mark as read</span></p>
                                            </div>
                                        </li>
                                    </ul>
                                    <h6 class="all-notifications"> <a href="#" class="btn bg-muted text-primary w-100 fw-bold mt-3 ff-heading px-0">View All Notifications</a> </h6>
                                </div>
                            </div>
                        </li>
                       
                        <li class="nav-item nav-settings">
                            <a href="#" class="nav-toggler">
                                <i class="bi bi-gear-fill"></i>
                            </a>
                        </li>

                        <li class="nav-item nav-author px-3">
                            <a href="#" class="nav-toggler" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="avatar bg-blue text-white">
                                    <span class="avatar-initials">@User.Claims.GetByName("FirstName").First()@User.Claims.GetByName("LastName").First()</span>
                                </span>
                                <div class="nav-toggler-content">
                                    <h6 class="mb-0">@User.Claims.GetByName("FirstName") @User.Claims.GetByName("LastName")</h6>
                                    <div class="ff-heading fs-14 fw-normal text-gray">@User.Claims.GetByName("position")</div>
                                </div>
                            </a>
                           
                               
                               
                            
                            <div class="dropdown-widget dropdown-menu p-0 admin-card">
                                <div class="dropdown-wrapper">
                                    <div class="card mb-0">
                                        <div class="card-header p-3 text-center">
                                            <span class="avatar bg-blue text-white">
                                                <span class="avatar-initials">@User.Claims.GetByName("FirstName").First()@User.Claims.GetByName("LastName").First()</span>
                                            </span>
                                            <div class="nav-toggler-content">
                                                <h6 class="mb-0">@User.Claims.GetByName("FirstName") @User.Claims.GetByName("LastName")</h6>
                                                <div class="ff-heading fs-14 fw-normal text-gray">@User.Claims.GetByName("position")</div>
                                            </div>
                                        </div>
                                        <div class="card-body p-3">
                                            <ul class="list-unstyled p-0 m-0">
                                                <li>
                                                    <a href="profile.html" class="fs-14 fw-normal text-dark d-block p-1"><i class="bi bi-person me-2"></i> Profile</a>
                                                </li>
                                                <li>
                                                    <a href="email.html" class="fs-14 fw-normal text-dark d-block p-1"><i class="bi bi-envelope me-2 "></i> Inbox</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="fs-14 fw-normal text-dark d-block p-1"><i class="bi bi-gear me-2"></i> Setting & Privacy</a>
                                                </li>
                                            </ul>

                                        </div>
                                        <div class="card-footer p-3">
                                            <a href="login.html" class="btn btn-outline-gray bg-transparent w-100 py-1 rounded-1 text-dark fs-14 fw-medium"><i class="bi bi-box-arrow-right"></i> Logout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <!-- Horizontal Nav -->
    <header class="header kleon-horizontal-nav shadow">
        <div class="d-none d-xl-block">
            <div class="d-flex align-items-center justify-content-around justify-content-xl-between flex-wrap flex-xl-nowrap gap-3 gap-xl-5">
                <div class="d-flex align-items-center gap-7">
                    <div class="logo">
                        <a href="index.html" class="d-flex align-items-center gap-3 flex-shrink-0">
                            <img src="assets/img/logo.svg" alt="logo">
                            <div class="position-relative flex-shrink-0">
                                <img src="assets/img/logo-text.svg" alt="" class="logo-text">
                                <img src="assets/img/logo-text-white.svg" alt="" class="logo-text-white">
                            </div>
                        </a>
                    </div>

                    <div class="kleon-navmenu text-center">
                        <ul class="main-menu">

                       

                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <div class="small-header d-flex align-items-center justify-content-between d-xl-none">
            <div class="logo">
                <a href="index.html" class="d-flex align-items-center gap-3 flex-shrink-0">
                    <img src="assets/img/logo.png" alt="logo">
                    <div class="position-relative flex-shrink-0">
                        <img src="assets/img/logo-text.svg" alt="" class="logo-text">
                        <img src="assets/img/logo-text-white.svg" alt="" class="logo-text-white">
                    </div>
                </a>
            </div>
            <div>
                <button type="button" class="kleon-header-expand-toggle"><span class="fs-24"><i class="bi bi-three-dots-vertical"></i></button>
                <button type="button" class="kleon-mobile-menu-opener"><span class="close"><i class="bi bi-arrow-left"></i></span> <span class="open"><i class="bi bi-list"></i></span></button>
            </div>
        </div>

     
    </header>

  
    <!-- Vertical Nav -->
    <div class="kleon-vertical-nav">
        <!-- Logo  -->
        <div class="logo d-flex align-items-center justify-content-between">
            <a href="index.html" class="d-flex align-items-center gap-3 flex-shrink-0">
                <img src="assets/img/logo.png" class="w-25" alt="logo">
                <div class="position-relative flex-shrink-0">
                     </div>
            </a>
            <button type="button" class="kleon-vertical-nav-toggle"><i class="bi bi-list"></i></button>
        </div>

        <div class="kleon-navmenu">
            <ul class="main-menu">

                <li class="menu-section-title text-gray ff-heading fs-16 fw-bold text-uppercase mt-4 mb-2"><span>Home</span></li>
                <li class="menu-item">
                    <a href="/Home/dashboard"> <span class="nav-icon flex-shrink-0"><i class="bi bi-speedometer fs-18"></i></span> <span class="nav-text">Dashboards</span></a>
                </li>

                <li class="menu-section-title text-gray ff-heading fs-16 fw-bold text-uppercase mt-4 mb-2"><span>Sass</span></li>
                <!-- Projects Dashboard -->
                <li class="menu-item ">
                    <a  asp-controller="Home" asp-action="projects">  <span class="nav-icon flex-shrink-0"><i class="bi bi-kanban fs-18"></i></span> <span class="nav-text">Projects</span></a>

                </li>

                <!-- Tasks  --> 
                <li class="menu-item">
                    <a  asp-controller="Home" asp-action="tasks">
                    <span class="nav-icon flex-shrink-0"><i class="bi bi-activity fs-18"></i></span> <span class="nav-text">Tasks</span>
                    </a>
                 </li>
                <!-- Activities  -->
                <li class="menu-item">
                    <a asp-controller="Home" asp-action="Activities">
                        <span class="nav-icon flex-shrink-0"><i class="bi bi-inbox-fill fs-18"></i></span> <span class="nav-text">Activities</span>
                    </a>
                </li>

                <!-- Employees  -->
                <li class="menu-item">
                    <a asp-controller="Home" asp-action="Employees"> <span class="nav-icon flex-shrink-0"><i class="bi bi-person-fill"></i></span> <span class="nav-text">Employees</span></a>

                </li>

                <!-- Teams  -->
                <li class="Home/Teams">
                    <a asp-controller="Home" asp-action="Teams"> <span class="nav-icon flex-shrink-0"><i class="bi bi-people-fill fs-18"></i></span> <span class="nav-text">Teams</span></a>

                </li>

                <!-- Profile  -->
                <li class="Home/Teams">
                    <a asp-controller="Home" asp-action="Profile"> <span class="nav-icon flex-shrink-0"><i class="bi bi-person-circle"></i></span> <span class="nav-text">Profile</span></a>

                </li>



            
            </ul>
        </div>

    </div>

   

    <!-- Main Wrapper-->
    <main class="main-wrapper">
        <div class="container-fluid">
            <div class="inner-contents">

                @RenderBody()
            </div>
        </div>
    </main>



    <!-- Core JS -->
    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <!--jquery validation-->
    <script src="lib/jquery-validate/jquery.validate.js"></script>
    <script src="lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <!-- jQuery UI Kit -->
    <script src="plugins/jquery_ui/jquery-ui.1.12.1.min.js"></script>


    <!-- Peity  -->
    <script src="plugins/peity/jquery.peity.min.js"></script>
    <script src="plugins/peity/piety-init.js"></script>

    <!-- Select 2 -->
    <script src="plugins/select2/js/select2.min.js"></script>

    <!-- Datatables -->
    <script src="plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="plugins/datatables/js/datatables.init.js"></script>



    <!-- Date Picker -->
    <script src="plugins/flatpickr/flatpickr.min.js"></script>

    <!-- Dropzone -->
    <script src="plugins/dropzone/dropzone.min.js"></script>
    <script src="plugins/dropzone/dropzone_custom.js"></script>

    <!-- TinyMCE -->
    <script src="plugins/tinymce/tinymce.min.js"></script>
    <script src="plugins/prism/prism.js"></script>
    <script src="plugins/jquery-repeater/jquery.repeater.js"></script>





    <!-- Sweet Alert -->
    <script src="plugins/sweetalert/sweetalert2.min.js"></script>
    <script src="plugins/sweetalert/sweetalert2-init.js"></script>

    <!-- Snippets JS -->
    <script src="assets/js/snippets.js"></script>

    <!-- Theme Custom JS -->
    <script src="assets/js/theme.js"></script>

    <!-- Toastr -->
    <script src="plugins/toastr/toastr.min.js"></script>
    <script src="plugins/toastr/toastr-init.js"></script>

    <script>



        $(document).ready(function () {
            $('body').popover({
                placement: 'top',
                html: true,
                selector: ".avatar",
                content: function () {

                    var firstName = $(this).data("firstname");
                    var lastName = $(this).data("lastname");
                    var position = $(this).data("position");
                    var phoneNumber = $(this).data("phonenumber");
                    var email = $(this).data("email");

                    if (firstName && lastName && position && phoneNumber && email)
                        return $('<div class = "Avatarpopover" style="z-index:500">').html(`


                <div class="d-flex align-items-center">
                    <div id="reporster" class="m-0 p-0">
                        <span class="avatar avatar-lg  bg-blue rounded-circle">
                                        <span class="avatar-initials rounded-circle text-white"> `+ firstName.charAt(0) + lastName.charAt(0) + `</span>

                    </div>

                </div>
                <div class="card-content mt-3">
                        <h5 class="mb-0"><a href="#" class="text-dark">`+ firstName + " " + lastName + `</a></h5>
                        <small class="d-inline-block text-gray fs-14 fw-normal">`+ position + `</small>

                </div>
                <div class="mt-2 pt-2">

                        <div>
                        <p class="fw-semibold text-truncate"><small><i class="bi bi-telephone-fill  me-3" style="font-size:10px;"></i> `+ phoneNumber + ` </small> </p>
                        </div>
                        <div>
                        <p class="fw-semibold text-truncate"><small><i class="bi bi-envelope-fill   me-3" style="font-size:8px;"></i> `+ email + `  </small> </p>
                        </div>

                </div>

                        `);
                
                    
                    
                    
                    },
                trigger: 'hover', 
                
                
                

            });
        });

    </script>

    <style>
        .popover {
            z-index: 1060;
        }</style>
</body>

</html>